<!doctype html>
<html lang='en'>

<head>
    <title>DogeMajor</title>
    <meta name='description' content='Doge Major is a Doge community platform the apps of which are built and maintained by its open-source contibutors.'></meta>
    <meta charset='UTF-8'></meta>
    <meta name='author' content='Dogemajor dev team' <meta name='keywords' content="Doge,Dogecoin,Dojemajor, Elon Musk, Cryptocurrency"></meta>
    <meta name='copyright' content="DogeMajor"></meta>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'></meta>
</head>

<body>
    <h1> Hello GCP!</h1>
    <h3>Glad to have you by my side :-)</h3>
    <a href='#' , onmouseover='bc()'>Hover here to click the button without pressing lmk!</a>
    <button id='click' onclick="alert('Roar');">Click!</button>
    <script>
        function bc() {
            var pb = document.getElementById("click")
            pb.click();
        }
    </script>
</body>

</html>